<nav class="navbar navbar-expand-lg fixed-top navbar-transparent ">
  <div class="container">
    <div class="navbar-translate">
      <!-- <a class="navbar-brand" href="./"><span>E•Sign</span> System</a> -->
      <!-- <nav aria-label="breadcrumb" role="navigation"> -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item navbar-brand"><a><span>E•Sign</span> System</a></li>
        <li class="breadcrumb-item navbar-brand"><a routerLink="/adminMain" routerLinkActive="active">Admin Main</a>
        </li>
        <li class="breadcrumb-item navbar-brand active" aria-current="page">Code Mapping</li>
      </ol>
      <!-- </nav> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-primary"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-primary">
      <ul class="navbar-nav ml-auto">
        <li class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
            <i class="tim-icons icon-single-02"></i> Profile
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <a routerLink="/codeMap" routerLinkActive="active" class="dropdown-item">
              <i class="tim-icons icon-paper"></i> Add Mapping codes
            </a>
            <a routerLink="/resigteredUsers" routerLinkActive="active" class="dropdown-item">
              <i class="tim-icons icon-bullet-list-67"></i>Registered Users
            </a>
            <a routerLink="/resigteredUsers" routerLinkActive="active" class="dropdown-item">
              <i class="tim-icons icon-settings-gear-63"></i> Settings
            </a>
            <a href="examples/profile-page.html" class="dropdown-item">
              <i class="tim-icons icon-single-02"></i>Sign out
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <!-- <form>
          <div class="file-field md-form">
            <div mdbBtn floating="true" size="md" gradient="purple" mdbWavesEffect>
              <i class="fas fa-cloud-upload-alt"></i>
              <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)">
            </div>
            <div class="file-path-wrapper mt-3">
              <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
            </div>
          </div>
          <button mdbBtn type="button" gradient="purple" class="waves-light" (click)="startUpload()"
            mdbWavesEffect>Start uploading</button>
        </form> -->
        <!-- <form class="md-form"> -->
        <!-- <div class="file-field big"> -->
        <!-- <button class="btn btn-primary btn-round" type="button">
              <i class="tim-icons icon-heart-2"></i>
              <input type="file" multiple>
            </button> -->
        <!-- </div> -->
        <!-- </form> -->
        <div class="row">
          <div class="col-8">
            <label class="btn btn-default p-0">
              <input type="file" (change)="selectFile($event)" multiple>
            </label>
          </div>

          <div class="col-4">
            <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
              Upload
            </button>
          </div>
        </div>

        <div *ngIf="currentFile" class="progress my-3">
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
            attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{ width: progress + '%' }">
            {{ progress }}%
          </div>
        </div>

        <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

        <div class="card mt-3">
          <div class="card-header">List of Files</div>
          <ul class="list-group list-group-flush" *ngFor="let file of fileInfos | async">
            <li class="list-group-item">
              <a href="{{ file.url }}">{{ file.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
